@import "~bootstrap/scss/bootstrap.scss";
@import 'https://fonts.googleapis.com/css2?family=Amatic+SC&family=Shadows+Into+Light&display=swap';

body {
    // background-color: rgb(223, 244, 247);  
    height: 100vh;
    background-image: url("brown-texture.jpg");
    background-repeat: repeat;

}

li {
    list-style: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    text-align: left;
    padding-right: 20px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    
}

.todo-list {
    background-color: rgb(212, 183, 148);
    box-shadow: 5px 5px 20px black;
}

input {
    background-color: rgb(212, 183, 147);
    // border-color: rgb(99, 59, 26);
    margin-left: 30px;
    margin-top: 5px;
    margin-right: 5px;
    padding-right: 20px;
    border: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

#totaltasks {
    font-size: 20px;
    float: left;
    color: rgb(117, 116, 116);
}

button {
    border: none;
    background-color: rgb(212, 183, 148);
    float: right;
}

#clearAll {
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    border-color: rgb(212, 183, 148);
    transition-duration: 0.4s;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    margin-right: 15px;
    color: rgb(117, 116, 116);

}

#clearAll:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}