@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: rgb(223, 244, 247);  
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.todo-list {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;

}

.todo-title {
    flex-direction: row;
    justify-content: center;
}